*{
    margin: 0;
    padding: 0;
}

.span{
    color: rgb(131, 131, 197);
    
}
#toggle{
    display: none;
}
#line{
    display: flex;
    width: 185vh;
    height: 1px;
    background-color: black;
    margin: auto;
}
.nav{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    background-color: white;
    height: 70px;
}
.logo{
   margin-left: 15px;
  
  
}
.logo img{
    height: 30px;
    width: 30px;
}
.nav-info{
    margin-left:20px ;
}
.nav-info ul {
    display: flex;
}
.nav-info ul li{
    display: flex;
    text-decoration: none;
    margin-left: 50px;
    font-size: 15px;
}
.nav-info ul a{
    text-decoration: none; 
    color: black;
    cursor: pointer;
}
.nav-info ul a :hover{
   color: rgb(242, 70, 7);
  
}
.nav-right{
   display: flex;
   margin-left: 50%;
}
.nav-btn1 button{
    margin-right: 20px;
    background-color: white;
    cursor: pointer;
    border-radius: 3px;
    color: black;
    border: none;
}
.nav-btn1 button:hover{
    color: orangered;
}
.nav-btn2 button{
    background-color: orangered;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    height: 30px;
    width: 80px;
    border: none;
}
section{
    height: 600px;
}
.section{
    height: 1200px;
}
.first-section{
    display: flex;
    
}

.heading-1{
    display: flex;
    margin-left: 65px;
    margin-top: 100px;
    font-size: 20px;
}
.heading-2{
    display: flex;
    margin-top: 20px;
    margin-left:65px;
    font-size: 40px;
}
.pera{
    margin-top: 50px;
    margin-left:65px;
    font-size: 15px;
}
.section-btn{
    display: flex;
    justify-content: space-evenly;  
    margin-top: 50px;
    margin-left: 45px;
}
.btn-book button{
    background-color: black;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}
.btn-learn button{
    background-color: orangered;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    width: 100px;
    border: none;
}
.section-left{
   
    margin-left: 200px;

 }

.section-left img{
   height: 500px;
   width: 600px;
   
}
.wrapper{
    margin: auto;
    height: 400px;
    width: 1300px;
    border:solid rgb(225, 211, 211);
    background-color: rgb(247, 241, 241);
} 
.wrapper h2{
  margin-left: 50px;
  margin-top: 30px;
}
.custom-select-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.custom-select-1 select{
    margin-top: 10px;
    height: 30px;
    width: 180px;
}
.car-type{
    margin-top: 50px;
}
.pick-up{
    margin-top: 50px;
}
.drop-of{
    margin-top: 50px;
}
.custom-select-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.date{
   margin-top: 50px;  
}
.custom-select-2 input{
    margin: 10px;
    height: 25px;
    width: 175px; 
}
.custom-select-2 button{
    background-color: orangered;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 70px;
    height: 30px;
    width: 200px;
    border: none;
}

.third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 1200px;
}
.third h2{
  margin-bottom: 10px;
}
.logo-1 img{
   
    height: 200px;
    width: 200px;
}
.logo-2 img{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 150px;
    width: 150px;
}
.logo-3 img{
   
    height: 150px;
    width: 150px;
}
#section-img{
    height: 800px;
}
.fleet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;  

}
.fleet h2{
    margin-bottom: 10px;
}










.slider{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    width: 60%;
    overflow: hidden;

}
.images{
    display: flex;
    width: 100%;
}
.images img{
    height: 60%;
    width: 100%;
    transition: all 0.50s ease;
}
.images input{
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
    
}
.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #0b0606 3px;
    cursor: pointer;
    transition: all 0.50s ease;
    margin: 5px;
}
.dots label:hover{
    background-color: #0f0808;
}
#img1:checked ~ .m1{
    margin-left: 0;
}
#img2:checked ~ .m2{
    margin-left: -100%;
}
#img3:checked ~ .m3{
    margin-left: -200%;
}
#img4:checked ~ .m4{
    margin-left: -300%;
}
#img5:checked ~ .m5{
    margin-left: -400%;
}
#img6:checked ~ .m6{
    margin-left: -500%;
}








.last-section{
    display: flex;
   height: 600px;   
}
.last-left{
    margin-left: 170px;
    margin-top: 50px;
}
.last-left h3{
   margin-bottom: 50px;
}
.last-left h1{
    margin-bottom: 50px;
}
.last-right{
    margin-left: 300px;
    margin-top: 50px; 
}
.last-right p{
   margin-bottom: 50px;
}
.footer{
    height: 30px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}
.footer p{
    display: flex;
    justify-content: center;
}





